<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.go.sys.server.mapper.IGo_Server_ConfigurationMapper">
    <insert id="insert" parameterType="Go_Server_Configuration">
    	<selectKey keyProperty="id" resultType="int" order="AFTER">
	        SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    insert into Go_Server_Configuration(server,configuration)
	    values(#{server},#{configuration})
	</insert>
	<update id="update">
	    update Go_Server_Configuration 
		    set server = #{server},
		    configuration = #{configuration}
		    where id = #{id}
	</update>
	<delete id="delete" parameterType="string">
	    delete from Go_Server_Configuration where id= #{id}
	</delete>
	<delete id="deleteList" parameterType="map">
	    delete from Go_Server_Configuration ${where}
	</delete>
	<update id="updateField" parameterType="map">
	    update Go_Server_Configuration
	    ${set_sql}
	</update>
	<select id="getScale" parameterType="map" resultType="Object">
	    select ${column} from Go_Server_Configuration 
	    ${where}
	    limit 1 offset 0
	</select>
	<select id="getScaleList" parameterType="map" resultType="map">
	    select ${column} from Go_Server_Configuration 
	    ${where}
	</select>
	<select id="select" resultType="Go_Server_Configuration">
	    select * from Go_Server_Configuration
	</select>
	<select id="selectByParams" resultType="Go_Server_Configuration" parameterType="map">
	    select * from Go_Server_Configuration ${where} 
	</select>
	<select id="selectByPage" parameterType="Go_PageData" resultType="Go_Server_Configuration">
	    select * from Go_Server_Configuration 
	    limit ${pageSize} offset ${(currentPage - 1) * pageSize}
	</select>
	<select id="selectPageByParams" parameterType="map" resultType="Go_Server_Configuration">
	    select Go_Server_Configuration.* from Go_Server_Configuration 
	    ${where} 
	    limit ${pageData.pageSize} offset ${(pageData.currentPage - 1) * pageData.pageSize}
	</select>
	<select id="count" parameterType="map" resultType="int">
	    select count(Go_Server_Configuration.id) from Go_Server_Configuration
	     ${where}
	</select>
	<select id="get" parameterType="string" resultType="Go_Server_Configuration">
	    select * from Go_Server_Configuration where id = #{id}
	</select>
	
</mapper>