<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.go.sys.server.mapper.IGo_Server_Configuration_TypeMapper">
    <insert id="insert" parameterType="Go_Server_Configuration_Type">
    	<selectKey keyProperty="id" resultType="int" order="AFTER">
	        SELECT LAST_INSERT_ID() AS id
	    </selectKey>
	    insert into Go_Server_Configuration_Type(server,configurationType)
	    values(#{server},#{configurationType})
	</insert>
	<update id="update">
	    update Go_Server_Configuration_Type 
		    set server = #{server},
		    configurationType = #{configurationType}
		    where id = #{id}
	</update>
	<delete id="delete" parameterType="string">
	    delete from Go_Server_Configuration_Type where id= #{id}
	</delete>
	<delete id="deleteList" parameterType="map">
	    delete from Go_Server_Configuration_Type ${where}
	</delete>
	<update id="updateField" parameterType="map">
	    update Go_Server_Configuration_Type
	    ${set_sql}
	</update>
	<select id="getScale" parameterType="map" resultType="Object">
	    select ${column} from Go_Server_Configuration_Type 
	    ${where}
	    limit 1 offset 0
	</select>
	<select id="select" resultType="Go_Server_Configuration_Type">
	    select * from Go_Server_Configuration_Type
	</select>
	<select id="selectByParams" resultType="Go_Server_Configuration_Type" parameterType="map">
	    select * from Go_Server_Configuration_Type ${where} 
	</select>
	<select id="selectByPage" parameterType="Go_PageData" resultType="Go_Server_Configuration_Type">
	    select * from Go_Server_Configuration_Type 
	    limit ${pageSize} offset ${(currentPage - 1) * pageSize}
	</select>
	<select id="selectPageByParams" parameterType="map" resultType="Go_Server_Configuration_Type">
	    select Go_Server_Configuration_Type.* from Go_Server_Configuration_Type 
	    ${where} 
	    limit ${pageData.pageSize} offset ${(pageData.currentPage - 1) * pageData.pageSize}
	</select>
	<select id="count" parameterType="map" resultType="int">
	    select count(Go_Server_Configuration_Type.id) from Go_Server_Configuration_Type
	     ${where}
	</select>
	<select id="get" parameterType="string" resultType="Go_Server_Configuration_Type">
	    select * from Go_Server_Configuration_Type where id = #{id}
	</select>
	
</mapper>