<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.go.client.login.mapper.IGo_Portal_InfoMapper">
    <insert id="insert" parameterType="Go_Portal_Info">
	    insert into Go_Portal_Info(departmentid,surname,name,companyname,email,addressone,addresstwo,city,downtown,zip,telephone,password)
	    values(#{departmentid},#{surname},#{name},#{companyname},#{email},#{addressone},#{addresstwo},#{city},#{downtown},#{zip},#{telephone},#{password})
	</insert>
	<update id="update">
	    update Go_Portal_Info 
		    set departmentid = #{departmentid},
		    surname = #{surname},
		    name = #{name},
		    companyname = #{companyname},
		    email = #{email}
		    addressone = #{addressone},
		    addresstwo = #{addresstwo},
		    city = #{city},
		    downtown = #{downtown}
		    zip = #{zip},
		    telephone = #{telephone},
		    password = #{password},
		    where id = #{id}
	</update>
	<delete id="delete" parameterType="string">
	    delete from Go_Portal_Info where id= #{id}
	</delete>
	<update id="updateField" parameterType="map">
	    update Go_Portal_Info
	    ${set_sql}
	</update>
	<select id="getScale" parameterType="map" resultType="Object">
	    select ${column} from Go_Portal_Info 
	    ${where}
	    limit 1 , 0
	</select>
	<select id="select" resultType="Go_Portal_Info">
	    select * from Go_Portal_Info
	</select>
	<select id="selectByParams" resultType="Go_Portal_Info" parameterType="map">
	    select * from Go_Portal_Info ${where} 
	</select>
	<select id="selectByPage" parameterType="Go_PageData" resultType="Go_Portal_Info">
	    select * from Go_Portal_Info 
	    limit ${pageSize} offset ${(currentPage - 1) * pageSize}
	</select>
	<select id="selectPageByParams" parameterType="map" resultType="Go_Portal_Info">
	    select Go_Portal_Info.* from Go_Portal_Info 
	    ${where} 
	    limit ${pageData.pageSize} offset ${(pageData.currentPage - 1) * pageData.pageSize}
	</select>
	<select id="count" parameterType="map" resultType="int">
	    select count(Go_Portal_Info.id) from Go_Portal_Info
	     ${where}
	</select>
	<select id="get" parameterType="string" resultType="Go_Portal_Info">
	    select * from Go_Portal_Info where id = #{id}
	</select>
	
</mapper>