<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.go.client.login.mapper.IGo_TicketMapper">
    <insert id="insert" parameterType="Go_Ticket">
	    insert into Go_Ticket(creator,name,email,title,urgenttype,content,attachaddress,isdispose)
	    values(#{creator},#{name},#{email},#{title},#{urgenttype},#{content},#{attachaddress},#{isdispose})
	</insert>
	<update id="update">
	    update Go_Ticket 
		    set creator = #{creator},
		    name = #{name},
		    email = #{email},
		    title = #{title},
		    urgenttype = #{urgenttype},
		    content = #{content},
		    attachaddress = #{attachaddress},
		    isdispose = #{isdispose}
		    where id = #{id}
	</update>
	<delete id="delete" parameterType="string">
	    delete from Go_Ticket where id= #{id}
	</delete>
	<update id="updateField" parameterType="map">
	    update Go_Ticket
	    ${set_sql}
	</update>
	<select id="getScale" parameterType="map" resultType="Object">
	    select ${column} from Go_Ticket 
	    ${where}
	    limit 1 , 0
	</select>
	<select id="select" resultType="Go_Ticket">
	    select * from Go_Ticket
	</select>
	<select id="selectByParams" resultType="Go_Ticket" parameterType="map">
	    select * from Go_Ticket ${where} 
	</select>
	<select id="selectByPage" parameterType="Go_PageData" resultType="Go_Ticket">
	    select * from Go_Ticket 
	    limit ${pageSize} offset ${(currentPage - 1) * pageSize}
	</select>
	<select id="selectPageByParams" parameterType="map" resultType="Go_Ticket">
	    select Go_Ticket.* from Go_Ticket 
	    ${where} 
	    limit ${pageData.pageSize} offset ${(pageData.currentPage - 1) * pageData.pageSize}
	</select>
	<select id="count" parameterType="map" resultType="int">
	    select count(Go_Ticket.id) from Go_Ticket
	     ${where}
	</select>
	<select id="get" parameterType="string" resultType="Go_Ticket">
	    select * from Go_Ticket where id = #{id}
	</select>
	
</mapper>